@charset "utf-8";
/* CSS Document */
.sc {
	border:1px solid #eee;
	padding:2px;
	background-color:#fff;
	color:#000;
	position:relative;
}
.sc ul {list-style:none}
.sc a{text-decoration:none;}
.sc_label a { background-color:#f0f0f0; display:block;padding:2px;}
.sc a.sc_optionSelectedClass { text-decoration:underline;}
.sc a.sc_optgroupSelectedClass { text-decoration:underline;}
.sc .sc_wrapper {
    background-color: #FFFFFF;
    border: 1px solid #FAFAFA;
    box-shadow: 2px 2px 2px #CCCCCC;
    display: none;
    padding: 6px;
    text-transform: capitalize;
    width: 95%;
    z-index:9999;
}
.sc .sc_optGroup { 

}
.sc .sc_optGroup ul { 
	margin-left:5px;
}
.sc .sc_optGroupLabel {
	border-bottom: 1px dotted #EEEEEE;
    display: block;
    font-weight: bold;
    padding: 5px 0;
    width: 100%;
	
}
.sc .sc_li { 
	padding:2px;
}
.sc .sc_li:nth-child(even) {
	background-color:#fafafa;
}
.sc .sc_label {
	overflow:hidden;
/*	height:18px;	*/
}