.sc {
	background-color: #ffffff;
	border: medium none;
	color: #000000;
	margin: 5px 0;
	padding: 2px;
	position: relative
}
.sc ul { list-style: none outside none;margin:0;padding:0; }
.sc a { display: block; text-decoration: none; color: #424242 }
.sc a:hover { color: #f68121 }
.sc_label a { width: 100%; padding: 2px }
.sc a.sc_optionSelectedClass {
	text-decoration: none;
	background: url(tick.png) left -2px no-repeat;
	padding: 0 0 0 25px
}
.sc a.sc_optgroupSelectedClass { text-decoration: underline }
.sc .sc_wrapper {
	background-color: #ffffff;
	display: none;
	padding: 6px;
	text-transform: inherit;
	z-index: 9999;
	color: #424242;
	border: 1px solid #ddd; 
	left: -1px;
	box-shadow:1px 1px 2px #ccc;
	border-radius:6px;
	width:93%;
}
.sc .sc_optGroup { clear:both; width: 85%;}
.sc .sc_optGroup ul { 
	background-color: #FAFAFA;
	border-radius: 8px 8px 8px 8px;
	padding: 8px;
	width: 100%;
}
.sc .sc_optGroup ul li { background-color:#f5f5f5; } 
.sc .sc_optGroupLabel {
	border-bottom: 1px dotted #eeeeee;
	display: block;
	font-weight: bold;
	padding: 2px 0;
	width: 100%;
	margin:4px 0;
}
.sc .sc_li { padding: 2px; border-radius:8px; padding:4px; margin:1px 0;}
.sc .sc_li:nth-child(2n) { background-color: #F2EDED }
.sc .sc_li:hover {background-color: #eaeaea}
.sc .sc_label {
  background: url("arrow-down.png") no-repeat scroll right center transparent;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 5px;
  overflow: hidden;
  padding: 2px;
  box-shadow: 1px 1px 2px #CCCCCC;
}
.sc a.sc_optionSelectedClass { text-decoration: none }
.sc_footer { display: block; clear: both; width: 100% }
.sc_footer a { display: inline-block }